canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}


.barraIzq{
    background-color: #1a202a; height: 100vh;
    position: fixed;
}




