<div class="row">
    <div class="col s8" style="margin-bottom: 1rem;">
        <canvas  id="myCanvas" width="500" height="500" style="border: 1px solid black" ></canvas>
    </div>
    <div class="col s4">


    
        <div class="col s12" style="margin-top: 1rem;">
            <a class="waves-effect waves-light btn desc" (click)="dibujar('vaca.png',150,150);">Vaca</a>
        </div>

        <div class="col s12" style="margin-top: 1rem;">
            <a class="waves-effect waves-light btn " (click)="dibujar('cerdo.png',50,50);">Cerdo</a>
        </div>

       

        <div class="col s12" style="margin-top: 1rem;">
            <hr>
            <a class="waves-effect waves-light btn " (click)="descargar();">Descargar</a>
        </div>

    </div>

</div>




